<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PsyConnectAndroid">

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.PsyConnectAndroid.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.PsyConnectAndroid.NoActionBar" />

        <activity
            android:name=".PatientActivity"
            android:exported="false"
            android:theme="@style/Theme.PsyConnectAndroid.NoActionBar" />
            
        <activity
            android:name=".AllDoctorsActivity"
            android:exported="false"
            android:label="@string/title_activity_all_doctors"
            android:parentActivityName=".PatientActivity"
            android:theme="@style/Theme.PsyConnectAndroid.NoActionBar" />

        <activity
            android:name=".DoctorProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.PsyConnectAndroid.NoActionBar" />
            
        <activity
            android:name=".BookingConfirmationActivity"
            android:exported="false"
            android:label="Confirmar Agendamento"
            android:parentActivityName=".DoctorProfileActivity"
            android:theme="@style/Theme.PsyConnectAndroid.NoActionBar" />
            
        <activity
            android:name=".PaymentActivity"
            android:exported="true"
            android:label="Pagamento"
            android:parentActivityName=".BookingConfirmationActivity"
            android:theme="@style/Theme.PsyConnectAndroid.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="psyconnect" android:host="payment" />
            </intent-filter>
        </activity>
            
        <activity
            android:name=".MyAppointmentsActivity"
            android:exported="false"
            android:label="Minhas Consultas"
            android:parentActivityName=".PatientActivity"
            android:theme="@style/Theme.PsyConnectAndroid.NoActionBar" />

        <!-- Doctor Activities -->
        <activity
            android:name=".DoctorDashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.PsyConnectAndroid.NoActionBar" />
            
        <activity
            android:name=".DoctorScheduleActivity"
            android:exported="false"
            android:label="Minha Agenda"
            android:parentActivityName=".DoctorDashboardActivity"
            android:theme="@style/Theme.PsyConnectAndroid.NoActionBar" />

        <activity
            android:name=".ManageAvailabilityActivity"
            android:exported="false"
            android:label="Gerenciar Disponibilidade"
            android:parentActivityName=".DoctorDashboardActivity"
            android:theme="@style/Theme.PsyConnectAndroid.NoActionBar" />
            
        <activity
            android:name=".AppointmentDetailsDoctorActivity"
            android:exported="false"
            android:label="Detalhes da Consulta"
            android:parentActivityName=".DoctorScheduleActivity"
            android:theme="@style/Theme.PsyConnectAndroid.NoActionBar" />

    </application>

</manifest>